<link href="NpoComponent.style.css" rel="stylesheet">


<body>
  <h1>Security cameras Utrecht</h1>
  <div id="map">
        <MapComponent Cameras="@Cameras" />
  </div>
  <div id="source">
    source:
    <a href="https://data.overheid.nl/data/dataset/camera-s">https://data.overheid.nl/data/dataset/camera-s</a>
  </div>
  <main>

        <table id="cameraTableContainer">
        <tbody>
            <tr>
                <td>
                    <table id="column3">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 3</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cam in Cam3)
                            {
                                <tr>
                                    <td>@cam.CameraNumber</td>
                                    <td>@cam.CameraName</td>
                                    <td>@cam.lat</td>
                                    <td>@cam.lon</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="column5" >
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 5</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cam in Cam5)
                            {
                                <tr>
                                    <td>@cam.CameraNumber</td>
                                    <td>@cam.CameraName</td>
                                    <td>@cam.lat</td>
                                    <td>@cam.lon</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="column15">
                        <thead>
                            <tr>
                                <th colspan="4" >Cameras 3 &amp; 5</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cam in Cam35)
                            {
                                <tr>
                                    <td>@cam.CameraNumber</td>
                                    <td>@cam.CameraName</td>
                                    <td>@cam.lat</td>
                                    <td>@cam.lon</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="columnOther">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras Overig</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cam in CamNo35)
                            {
                                <tr>
                                    <td>@cam.CameraNumber</td>
                                    <td>@cam.CameraName</td>
                                    <td>@cam.lat</td>
                                    <td>@cam.lon</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </main>
    </body>
